body {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  margin: 0px;
  overflow-x: hidden;
}
header,
main,
footer {
  margin: 0 auto;
}
/**************************************************************************************************************************header*/
header {
  background-color: white;
  width: 1100px;
  height: 500px;
  margin: 100px auto;
  padding: 10px;
  border-radius: 1.5%;
  display: flex;
  flex-direction: row;
}
aside {
  background-color: rgb(6, 18, 31);
  width: 400px;
  height: 100%;
  border-radius: 1.5%;
}
aside img {
  width: 350px;
  height: 350px;
  margin: 80px 0 0 25px;
}
#loginPage {
  background-color: white;
  width: 800px;
  height: 100%;
  border-radius: 1.5%;
  display: flex;
  flex-direction: column;
}
#signinPage {
  background-color: white;
  width: 400px;
  height: 100%;
  border-radius: 1.5%;
  display: none;
  flex-direction: column;
}
form {
  width: 300px;
  height: 300px;
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
}
p {
  margin: 0 auto 50px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.inputContainer {
  width: 300px;
  height: 40px;
}
input {
  width: 250px;
  padding: 10px;
  outline: none;
}
img {
  width: 35px;
  height: 35px;
}
input,
img {
  vertical-align: middle; /* or whatever else value */
  box-sizing: border-box;
}
.btn {
  background-color: rgb(230, 150, 76);
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin: 20px 0;
}

.btn:hover {
  opacity: 1;
}

/******************************************************************************************************main*/
#imgRightComp {
  background-image: url("");
  width: 70px;
  height: 70px;
  margin: 10px;
}
#imgRightComp img {
  width: 70px;
  height: 70px;
  margin: 0em;
}
main {
  background-color: white;
  width: 1100px;
  min-height: 500px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

/** LEFT CONTAINER*/
.intMainLeftContainer {
  background-color: white;
  width: 65%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}
.title {
  background-color: white;
  width: 100%;
  height: 60px;
  margin: 4px 0;
  vertical-align: middle;
  text-align: center;
}
.composants {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 90px;
  text-align: left;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  margin: 12px 0 0 0;
}
.composants img {
  width: 56px;
  height: 56px;
  margin: 20px 10px 0 20px;
}
.composants h2 {
  width: 540px;
  line-height: 52px;
}
/****** Composant choisi dropdown on/of*****************************************/
.composantChoisi {
  background-color: rgb(255, 255, 255);
  width: 100%;
  min-height: 150px;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
  flex-direction: column;
}

/*********************************title*/
.composantChoisiTitle {
  height: 40px;
  width: calc(698px - 2px);
  display: flex;
  flex-direction: row;
  border: 1px black solid;
  position: absolute;
}
.prodDescription {
  background-color: rgb(134, 134, 134);
  width: 80%;
  height: 40px;
  border-right: 1px black solid;
}
.prodPrix {
  background-color: rgb(134, 134, 134);
  width: 20%;
  height: 40px;
}
h3 {
  margin: 0;
  color: white;
  line-height: 40px;
  text-align: center;
}
/*********************************title end*/
.space {
  margin-bottom: 40px;
}
.containerProduits {
  background-color: lightblue;
  width: calc(100% - 2px);
  height: 150px;
  display: flex;
  flex-direction: row;
  border: 1px black solid;
  margin-top: 5px;
} /* onclick ckange this display to none, personal id of chosen product display flex*/
.intContainerProduits {
  width: 80%;
  height: 150px;
  border-right: 1px black solid;
  display: flex;
  flex-direction: row;
}
.nomDescriptionProd {
  background-color: rgb(236, 236, 236);
  width: 410px;
  display: flex;
  flex-direction: column;
}
.monProd {
  width: 100%;
  height: 40px;
}
.monProd p {
  margin-left: 10px;
} /****************************TODO add text format name product*/
.descriptionProd {
  width: 100%;
  min-height: 40px;
  max-height: 100px;
  margin-top: 5px;
}
.descriptionProd p {
  margin-left: 50px;
} /****************************TODO add text format description*/
.intContainerProduits img {
  width: 150px;
  height: 150px;
}
.intContainerProduits button {
  width: 150px;
  height: 150px;
  background-color: blueviolet;
  border: none;
}

.intContainerPrix {
  background-color: rgb(236, 236, 236);
  width: 20%;
  height: 150px;
  line-height: 110px;
  text-align: center;
}
.intContainerPrix p {
  color: black;
} /****************************TODO add text format price*/

/*!! Right Container*******RECAP**********************************/
.intMainRightContainer {
  background-color: white;
  width: 35%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}
.recapContainer {
  background-color: rgb(236, 236, 236);
  width: calc(100% - 14px);
  min-height: 188px;
  border: rgb(189, 188, 188) 2px solid;
  margin: 12px 6px 20px;
  display: flex;
  flex-direction: column;
}
#composantRecap {
  width: 98%;
  height: 20px;
  margin: 1% 1%;
}
.recapContainerMain {
  width: 100%;
  min-height: 128px;
  max-height: 500px;
  margin-bottom: 10px;
  overflow-y: scroll;
}
.recapContainerBtn {
  width: 100%;
  height: 50px;
}
.btnRecap {
  background-color: rgb(230, 150, 76);
  width: 180px;
  height: 40px;
  color: white;
  border: none;
  margin: 6px 0 6px 98px;
}
/**************************************************************************************************************************main end*/
footer {
  background-color: white;
  width: 1100px;
  min-height: 300px;
  max-height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
}
.configAffichage {
  background-color: grey;
  color: black;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  height: 150px;
}

#addCompPage {
  background-color: rgb(230, 150, 76);
  width: 98%;
  height: 60px;
  margin: 50px 0 0 5px;
  color: white;
  text-decoration: none;
}
a p {
  text-align: center;
  line-height: 60px;
}
